<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoogleMap</title>
</head>
<body>
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d122386.27909416125!2d80.4313455595703!3d16.547730659676578!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1621400370953!5m2!1sen!2sin" width="1520" height="1000" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</body>
</html>